* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Barlow;
}

.landingPage {
  display: flex;
  flex-direction: column;
}

/* landing page header */
.header__header {
  height: 90vh;
  background-color: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: relative;
  background-image: url(../../assets/img/Hero/LPHero.jpg);
  background-size: 100% 100%;
}

.header__logo, .notFoundHeader__logo {
  width: 30px;
  height: 30px;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0 120px 0 120px;
}

.header__helloWorld {
  color: #000000;
  font-size: calc(12px + 6vw);
  letter-spacing: 0;
}

.header__spacing1 {
  height: 30px;
}

.header__shortBio {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
}

.header__spacing2 {
  height: 90px;
}

/* landing page sections */
.mech__container,
.cellier__container,
.word__container {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 225px 120px 225px 120px;
}

.mech__logo,
.lazy
/* cellier__logo,
word__logo */ {
  width: 454px;
  height: 454px;
}

.mech__spacing1,
.cellier__spacing1,
.word__spacing1 {
  width: 120px;
}

.mech__title,
.cellier__title,
.word__title {
  font-size: calc(12px + 6vw);
  letter-spacing: 0;
}

.mech__shortTitle,
.cellier__shortTitle,
.word__shortTitle {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
}

.mech__spacing,
.cellier__spacing,
.word__spacing {
  height: 30px;
}

.mech__oneLiner,
.cellier__oneLiner,
.word__oneLiner {
  font-size: calc(9px + 1vw);
  letter-spacing: 0;
}

.mech__technologies,
.cellier__technologies,
.word__technologies {
  font-size: calc(9px + 1vw);
  letter-spacing: 0;
}

.line__line {
  height: 9px;
  background-color: #979797;
}

/* mech project page header */
.mechHeader__header {
  height: 90vh;
  background-color: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: relative;
  background-image: url(../../assets/img/Hero/MechHero.jpeg);
  background-size: 100% 100%;
}

.mechHeader__logo {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.mechHeader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 180px 180px 330px 180px;
}

.mechHeader__shortDescription {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
  color: white;
}

.mechHeader__spacing1 {
  height: 90px;
}

/* mech project page sections */
.mechChallenge__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 90px 180px;
}

.mechChallenge__title,
.mechApproach__title,
.mechInitialBrainstorm__title,
.mechUserFlow__title,
.mechAlphaTesting__title,
.mechPrototype__title,
.mechLearnings__title,
.mechNext__title {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
}

.mechChallenge__spacing1,
.mechApproach__spacing1,
.mechInitialBrainstorm__spacing1,
.mechUserFlow__spacing1,
.mechAlphaTesting__spacing1,
.mechPrototype__spacing1,
.mechLearnings__spacing1,
.mechNext__spacing1 {
  height: 30px;
}

.mechChallenge__description,
.mechApproach__description,
.mechInitialBrainstorm__description,
.mechUserFlow__description,
.mechAlphaTesting__description,
.mechPrototype__description,
.mechLearnings__description,
.mechNext__description {
  font-size: calc(9px + 1vw);
  letter-spacing: 0;
}

.mechApproach__container,
.mechInitialBrainstorm__container,
.mechUserFlow__container,
.mechAlphaTesting__container,
.mechPrototype__container,
.mechLearnings__container,
.mechNext__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 0 180px 90px 180px;
}

.mechNext__ul {
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 20px;
  text-indent: -18px;
}

.mechFooter__container {
  padding: 120px;
  text-align: center;
  background-image: url(../../assets/img/Footer/Footer.png);
  background-size: 100% 100%;
}

.mechFooter__title {
  font-size: calc(9px + 2vw);
  opacity: 0.38;
  letter-spacing: 0;
  text-decoration: underline;
  color: rgb(88, 88, 88);
}

.mechFooter__title:hover {
  color: rgb(25, 25, 25);
}

.mechFooter__subtitle {
  font-size: calc(12px + 6vw);
  letter-spacing: 0;
}

/* cellier project page header */
.cellierHeader__header {
  height: 90vh;
  background-color: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: relative;
  background-image: url(../../assets/img/Hero/CellierHero.jpeg);
  background-size: 100% 100%;
}

.cellierHeader__logo {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.cellierHeader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 180px 180px 330px 180px;
}

.cellierHeader__shortDescription {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
  color: white;
}

.cellierHeader__spacing1 {
  height: 90px;
}

/* cellier project page sections */
.cellierChallenge__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 90px 180px;
}

.cellierChallenge__title,
.cellierApproach__title,
.cellierInitialBrainstorm__title,
.cellierUserFlow__title,
.cellierPrototype__title,
.cellierLearnings__title,
.cellierNext__title {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
}

.cellierChallenge__spacing1,
.cellierApproach__spacing1,
.cellierInitialBrainstorm__spacing1,
.cellierUserFlow__spacing1,
.cellierPrototype__spacing1,
.cellierLearnings__spacing1,
.cellierNext__spacing1 {
  height: 30px;
}

.cellierChallenge__description,
.cellierApproach__description,
.cellierInitialBrainstorm__description,
.cellierUserFlow__description,
.cellierPrototype__description,
.cellierLearnings__description,
.cellierNext__description {
  font-size: calc(9px + 1vw);
  letter-spacing: 0;
}

.cellierApproach__container,
.cellierInitialBrainstorm__container,
.cellierUserFlow__container,
.cellierPrototype__container,
.cellierLearnings__container,
.cellierNext__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 0 180px 90px 180px;
}

.cellierNext__ul {
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 20px;
  text-indent: -18px;
}

.cellierFooter__container {
  padding: 120px;
  text-align: center;
  background-image: url(../../assets/img/Footer/Footer.png);
  background-size: 100% 100%;
}

.cellierFooter__title {
  font-size: calc(9px + 2vw);
  opacity: 0.38;
  letter-spacing: 0;
  text-decoration: underline;
  color:rgb(88, 88, 88);
}

.cellierFooter__title:hover {
  color: rgb(25, 25, 25);
}

.cellierFooter__subtitle {
  font-size: calc(12px + 6vw);
  letter-spacing: 0;
}

/* word project page header */
.wordHeader__header {
  height: 90vh;
  background-color: #f0f0f0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: relative;
  background-image: url(../../assets/img/Hero/WordHero.png);
  background-size: 100% 100%;
}

.wordHeader__logo {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.wordHeader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 180px 180px 330px 180px;
}

.wordHeader__shortDescription {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
  color: white;
}

.wordHeader__spacing1 {
  height: 90px;
}

/* word project page sections */
.wordChallenge__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 90px 180px;
}

.wordChallenge__title,
.wordApproach__title,
.wordInitialBrainstorm__title,
.wordUserFlow__title,
.wordPrototype__title,
.wordLearnings__title,
.wordNext__title {
  font-size: calc(9px + 2vw);
  letter-spacing: 0;
}

.wordChallenge__spacing1,
.wordApproach__spacing1,
.wordInitialBrainstorm__spacing1,
.wordUserFlow__spacing1,
.wordPrototype__spacing1,
.wordLearnings__spacing1,
.wordNext__spacing1 {
  height: 30px;
}

.wordChallenge__description,
.wordApproach__description,
.wordInitialBrainstorm__description,
.wordUserFlow__description,
.wordPrototype__description,
.wordLearnings__description,
.wordNext__description {
  font-size: calc(9px + 1vw);
  letter-spacing: 0;
}

.wordApproach__container,
.wordInitialBrainstorm__container,
.wordUserFlow__container,
.wordPrototype__container,
.wordLearnings__container,
.wordNext__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 0 180px 90px 180px;
}

.wordNext__ul {
  list-style-position: inside;
  margin: 0;
  padding: 0 0 0 14px;
  text-indent: -12.5px;
}

.wordFooter__container {
  padding: 120px;
  text-align: center;
  background-image: url(../../assets/img/Footer/Footer.png);
  background-size: 100% 100%;
}

.wordFooter__title {
  font-size: calc(9px + 2vw);
  opacity: 0.38;
  letter-spacing: 0;
  text-decoration: underline;
  color: rgb(88, 88, 88);
}

.wordFooter__title:hover {
  color: rgb(25, 25, 25);
}

.wordFooter__subtitle {
  font-size: calc(12px + 6vw);
  letter-spacing: 0;
}

/* preloader */
.loadable__errorMsg,
.loadable__timeoutMsg,
.loadable__heart {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loadable__heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.loadable__heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #000;
  animation: loadable__heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loadable__heart div:after,
.loadable__heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #000;
}

.loadable__heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.loadable__heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes loadable__heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .header__container {
    padding: 0 33px 0 33px;
  }
  
  .mech__container,
  .cellier__container,
  .word__container {
    flex-direction: column;
    padding: 60px 90px;
  }

  .mech__logo,
  .lazy
  /* .cellier__logo,
  .word__logo */ {
    width: 270px;
    height: 270px;
  }

  .mechHeader__container,
  .cellierHeader__container,
  .wordHeader__container,
  .notFoundBody__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 30px 30px 90px 30px;
  }

  .mechChallenge__container,
  .cellierChallenge__container,
  .wordChallenge__container {
    padding: 30px;
  }

  .mechApproach__container,
  .mechInitialBrainstorm__container,
  .mechUserFlow__container,
  .mechAlphaTesting__container,
  .mechPrototype__container,
  .mechLearnings__container,
  .mechNext__container,
  .cellierApproach__container,
  .cellierInitialBrainstorm__container,
  .cellierUserFlow__container,
  .cellierPrototype__container,
  .cellierLearnings__container,
  .cellierNext__container,
  .wordApproach__container,
  .wordInitialBrainstorm__container,
  .wordUserFlow__container,
  .wordPrototype__container,
  .wordLearnings__container,
  .wordNext__container{
    padding: 0 30px 30px 30px;
  }

  .mech__spacing1,
  .cellier__spacing1,
  .word__spacing1 {
    height: 30px;
  }

  .mechChallenge__spacing1,
  .mechApproach__spacing1,
  .mechInitialBrainstorm__spacing1,
  .mechUserFlow__spacing1,
  .mechAlphaTesting__spacing1,
  .mechPrototype__spacing1,
  .mechLearnings__spacing1,
  .mechNext__spacing1,
  .cellierChallenge__spacing1,
  .cellierApproach__spacing1,
  .cellierInitialBrainstorm__spacing1,
  .cellierUserFlow__spacing1,
  .cellierPrototype__spacing1,
  .cellierLearnings__spacing1,
  .cellierNext__spacing1,
  .wordChallenge__spacing1,
  .wordApproach__spacing1,
  .wordInitialBrainstorm__spacing1,
  .wordUserFlow__spacing1,
  .wordPrototype__spacing1,
  .wordLearnings__spacing1,
  .wordNext__spacing1 {
    height: 9px;
  }
}

/* small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header__container {
    padding: 0 66px 0 66px;
  }
  
  .mech__container,
  .cellier__container,
  .word__container {
    flex-direction: column;
    padding: 100px 150px;
  }
  
  .mech__logo,
  .lazy
  /* .cellier__logo,
  .word__logo */ {
    width: 400px;
    height: 400px;
  }

  .mechHeader__container,
  .cellierHeader__container,
  .wordHeader__container,
  .notFoundBody__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 90px 90px 210px 90px;
  }

  .mechChallenge__container,
  .cellierChallenge__container,
  .wordChallenge__container {
    padding: 90px;
  }

  .mechApproach__container,
  .mechInitialBrainstorm__container,
  .mechUserFlow__container,
  .mechAlphaTesting__container,
  .mechPrototype__container,
  .mechLearnings__container,
  .mechNext__container,
  .cellierApproach__container,
  .cellierInitialBrainstorm__container,
  .cellierUserFlow__container,
  .cellierPrototype__container,
  .cellierLearnings__container,
  .cellierNext__container,
  .wordApproach__container,
  .wordInitialBrainstorm__container,
  .wordUserFlow__container,
  .wordPrototype__container,
  .wordLearnings__container,
  .wordNext__container{
    padding: 0 90px 90px 90px;
  }

  .mech__spacing1,
  .cellier__spacing1,
  .word__spacing1 {
    height: 30px;
  }

  .mechChallenge__spacing1,
  .mechApproach__spacing1,
  .mechInitialBrainstorm__spacing1,
  .mechUserFlow__spacing1,
  .mechAlphaTesting__spacing1,
  .mechPrototype__spacing1,
  .mechLearnings__spacing1,
  .mechNext__spacing1,
  .cellierChallenge__spacing1,
  .cellierApproach__spacing1,
  .cellierInitialBrainstorm__spacing1,
  .cellierUserFlow__spacing1,
  .cellierPrototype__spacing1,
  .cellierLearnings__spacing1,
  .cellierNext__spacing1,
  .wordChallenge__spacing1,
  .wordApproach__spacing1,
  .wordInitialBrainstorm__spacing1,
  .wordUserFlow__spacing1,
  .wordPrototype__spacing1,
  .wordLearnings__spacing1,
  .wordNext__spacing1 {
    height: 21px;
  }
}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header__container {
    padding: 0 90px 0 90px;
  }

  .mech__container,
  .cellier__container,
  .word__container {
    flex-direction: column;
    padding: 100px 240px;
  }

  .mech__logo,
  .lazy
  /* .cellier__logo,
  .word__logo */ {
    width: 454px;
    height: 454px;
  }

  .mechHeader__container,
  .cellierHeader__container,
  .wordHeader__container,
  .notFoundBody__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 180px 180px 240px 180px;
  }

  .mechChallenge__container,
  .cellierChallenge__container,
  .wordChallenge__container {
    padding: 90px 180px;
  }

  .mechApproach__container,
  .mechInitialBrainstorm__container,
  .mechUserFlow__container,
  .mechAlphaTesting__container,
  .mechPrototype__container,
  .mechLearnings__container,
  .mechNext__container,
  .cellierApproach__container,
  .cellierInitialBrainstorm__container,
  .cellierUserFlow__container,
  .cellierPrototype__container,
  .cellierLearnings__container,
  .cellierNext__container,
  .wordApproach__container,
  .wordInitialBrainstorm__container,
  .wordUserFlow__container,
  .wordPrototype__container,
  .wordLearnings__container,
  .wordNext__container{
    padding: 0 180px 90px 180px;
  }

  .mech__spacing1,
  .cellier__spacing1,
  .word__spacing1 {
    height: 33px;
  }

  .mechChallenge__spacing1,
  .mechApproach__spacing1,
  .mechInitialBrainstorm__spacing1,
  .mechUserFlow__spacing1,
  .mechAlphaTesting__spacing1,
  .mechPrototype__spacing1,
  .mechLearnings__spacing1,
  .mechNext__spacing1,
  .cellierChallenge__spacing1,
  .cellierApproach__spacing1,
  .cellierInitialBrainstorm__spacing1,
  .cellierUserFlow__spacing1,
  .cellierPrototype__spacing1,
  .cellierLearnings__spacing1,
  .cellierNext__spacing1,
  .wordChallenge__spacing1,
  .wordApproach__spacing1,
  .wordInitialBrainstorm__spacing1,
  .wordUserFlow__spacing1,
  .wordPrototype__spacing1,
  .wordLearnings__spacing1,
  .wordNext__spacing1 {
    height: 33px;
  }
}

/* not found page */
.notFoundBody__container {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 60px 120px;
}

.notFoundBody__oops {
  font-size: calc(24px + 1vw);
  letter-spacing: 0;
}

.notFoundBody__bold {
  font-weight: bolder;
  background-color: lightgrey;
}

.notFoundBody__spacing1 {
  height: 66px;
}

.notFoundBody__youWanderer {
  font-size: calc(11px + 1vw);
  letter-spacing: 0;
}